Source: ros-melodic-hector-components-description
Section: misc
Priority: extra
Maintainer: Stefan Kohlbrecher <kohlbrecher@sim.tu-darmstadt.de>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://ros.org/wiki/hector_components_description
Standards-Version: 3.9.2

Package: ros-melodic-hector-components-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-hector-sensors-description, ros-melodic-hector-xacro-tools, ros-melodic-xacro
Description: hector_components_description contains URDF xacro macros for robot components, so they are easily attachable to robot models.
