Source: ros-hydro-hector-models
Section: misc
Priority: extra
Maintainer: Johannes Meyer <meyer@fsr.tu-darmstadt.de>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://ros.org/wiki/hector_models
Standards-Version: 3.9.2

Package: ros-hydro-hector-models
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-hector-sensors-description, ros-hydro-hector-xacro-tools
Description: hector_models contains (urdf) models of robots, sensors etc.
